<div class="one column row">
  <div class="column">
    <h2 class="ui tagline header">What would <span class="highlight yellow">equality</span> look like in the World
      Assembly?</h2>
    <h3 class="ui subtitle header">Choose a council to see:</h3>
  </div>
</div>
<div style="display: flex; align-items: center;">
  <div class="ui massive buttons">
    <a href="/ga"><button class="ui button blue" href="/ga">General Assembly</button></a>
    <div class="or"></div>
    <a href="/sc"><button class="ui button red" href="/sc">Security Council</button></a>
  </div>
</div>